# Faz o editor de todo mundo usar o mesmo padrão de espaçamento.
# No VS Code, instale a extensão "EditorConfig for VS Code".
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
